
<div class="row">
    <div class="col-sm-4">
        <h1>Delete Category</h1>
        <form action="/admin/categories/delete/{{category.id}}?_method=DELETE " method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input value="{{category.name}}"    type="text" name="name" placeholder="Enter Title" class="form-control ">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">DELETE Category  </button>
        </div>
        </form>
    </div>